<div class="container tw-font-montserrat">
  <!-- Forex Trading -->
  <div class="md:tw-p-0 tw-p-8">
    <div class="tw-flex tw-justify-center tw-flex-col lg:tw-flex-row lg:tw-p-12 md:tw-p-6 tw-p-0 tw-gap-8">
      <div class="tw-w-full lg:tw-w-1/2 tw-flex tw-items-center tw-justify-center">
        <img loading="lazy" [src]="s3URL + 'assets/images/JPG/energy.webp'" height="600" width="600"
          class="tw-rounded-2xl" alt="Trade Energy CFDs with UPFOREX" />
      </div>

      <div class="tw-w-full lg:tw-w-1/2 tw-p-0 md:tw-p-4">
        <h1 class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
          Master the Energy Markets with a Premier Online Oil Trading Platform
        </h1>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
          The global energy sector is a dynamic and influential force, driving economies and presenting unparalleled
          opportunities for astute traders. At UPFOREX, we provide a sophisticated gateway to this volatile yet
          rewarding market through our comprehensive Energy CFDs offering.
          Whether you're looking to diversify your portfolio, hedge against market movements, or speculate on price
          shifts, our platform equips you with the tools and conditions needed to trade with precision and confidence.
          Dive into the world of forex oil trading and other energy commodities on a platform built for performance
          .
        </p>
      </div>
    </div>
  </div>

  <div class="md:tw-p-0 tw-p-8">
    <h2 class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
      Why Trade Energy CFDs with UPFOREX?
    </h2>
    <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
      Energy Contracts for Difference (CFDs) allow you to speculate on the price movements of underlying energy assets
      without owning them physically. This opens the door to potential profit from both rising and falling markets.
      Partnering with UPFOREX for your energy trading needs grants you access to a suite of exclusive advantages
      designed for both new and experienced traders.
    </p>
  </div>

  <!-- Advantages -->
  <div class="md:tw-p-0 tw-p-8">
    <div class="tw-w-full tw-p-0 md:tw-p-4 tw-space-y-6">
      <!-- 1) Access a Wide Spectrum of Energy Contracts -->
      <div>
        <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
          Access a Wide Spectrum of Energy Contracts
        </p>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
          Go beyond basic oil and tap into a vast market. Our platform offers an extensive selection of over 300 energy
          contracts,
          including major benchmarks like WTI Crude Oil, Brent Crude Oil, Natural Gas, and Heating Oil. This diversity
          allows you
          to build a robust trading strategy, capitalize on correlations between different assets, and find
          opportunities across the
          entire energy complex.
        </p>
      </div>

      <!-- 2) Experience Unmatched Execution and Pricing -->
      <div>
        <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
          Experience Unmatched Execution and Pricing
        </p>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
          In fast-moving energy markets, speed and accuracy are paramount. We provide real-time market pricing sourced
          from
          top-tier liquidity providers, ensuring you always get a fair and transparent view of the market. Benefit from
          institutional-grade liquidity with zero requotes and fast execution speeds, allowing you to enter and exit
          trades at your
          desired price points, especially crucial for short-term strategies in <a href="https://www.upforex.com/products/energy-cfds">forex oil trading</a>.
        </p>
      </div>

      <!-- 3) Leverage Flexible and Competitive Trading Conditions -->
      <div>
        <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
          Leverage Flexible and Competitive Trading Conditions
        </p>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
          Maximize your trading potential with conditions that work in your favor. UPFOREX offers competitive spreads,
          flexible
          leverage options, and clear swap rates. These features allow you to optimize your capital efficiency and
          manage your
          trading costs effectively, making our  <a href="https://www.upforex.com/products/index-cfds">online oil trading platform</a> a cost-effective choice for active traders.
        </p>
      </div>
    </div>
  </div>


  <!-- Benefits of forex trading -->
  <div class="md:tw-p-0 tw-p-8">
    <div class="tw-flex tw-justify-center tw-flex-col lg:tw-flex-row lg:tw-p-12 tw-p-0 tw-gap-8">
      <div class="tw-w-full lg:tw-w-1/2 tw-p-0 md:tw-px-12">
        <p class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
          Strategize in a Market Driven by Global Dynamics
        </p>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
          The energy market is uniquely susceptible to a range of geopolitical and economic factors, creating constant
          volatility and opportunity. Price movements are influenced by:
        </p>
        <div *ngFor="let item of benefits" class="md:tw-mx-2">
          <div
            class="d-flex tw-items-center tw-mb-4 lg:tw-ml-4 hover:tw-translate-x-2 tw-transition-all tw-duration-300">
            <i class="tw-text-lg tw-mt-0.5 fa-solid fa-circle-check tw-text-themePrimary"></i>
            <h5 class="tw-text-white tw-ml-4 tw-text-base lg:tw-text-xl !tw-mb-0">
              <b class="tw-text-themePrimary tw-text-base lg:tw-text-xl">{{ item.boldText }}
                <span *ngIf="item.subText"> : </span>
              </b>
              <span class="tw-text-sm lg:tw-text-xl">
                {{ item.subText }}
              </span>
            </h5>
          </div>
        </div>
      </div>
      <div class="tw-w-full lg:tw-w-1/2 tw-flex tw-justify-center tw-items-center">
        <img loading="lazy" [src]="s3URL + 'assets/images/JPG/energy_2.webp'" height="600" width="600"
          class="tw-rounded-2xl" alt="Strategize in a Market Driven by Global Dynamics"/>
      </div>
    </div>
  </div>



  <div class="md:tw-p-0 tw-p-8">
    <!-- <h2 class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
      Why Trade Energy CFDs with UPFOREX?
    </h2> -->
    <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
      This complex interplay of factors makes the energy sector, including gas and power trading, a fertile ground for
      traders who thrive on analysis and strategic execution.
    </p>
  </div>

  <div class="md:tw-p-0 tw-p-8">
    <h2 class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
      Expand Your Reach into Gas and Power Trading
    </h2>
    <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
      While oil often takes the spotlight, the broader energy universe holds significant potential. Our platform
      facilitates sophisticated gas and power trading, enabling you to diversify your strategies further. Natural gas is
      a critical commodity for electricity generation and heating, while power markets themselves offer unique
      opportunities based on regional demand and regulatory changes. Understanding these related markets can provide a
      more holistic approach to your energy trading portfolio.
    </p>
  </div>

  <!-- Advantages -->
  <div class="md:tw-p-0 tw-p-8">
    <div class="tw-w-full tw-p-0 md:tw-p-4 tw-space-y-6">
      <!-- 1) Access a Wide Spectrum of Energy Contracts -->
      <div>
        <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
          Trade with Security and Transparency
        </p>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
          Your peace of mind is our priority. <a href="https://www.upforex.com/">UPFOREX</a> is a regulated platform, adhering to strict financial standards
          and ensuring that all client funds are held in segregated accounts. We are committed to providing a secure,
          transparent, and fair trading environment where you can execute your energy trading strategies with complete
          confidence.
          Ready to power your portfolio? Join thousands of traders who have chosen UPFOREX as their trusted online oil
          trading platform. Open your account today to gain instant access to live energy market prices, advanced
          charting tools, and dedicated customer support. Begin your journey in energy CFDs and seize the opportunities
          presented by the world's most vital markets.
        </p>
      </div>



    </div>
  </div>


</div>