<div class="container tw-font-montserrat">
  <div class="tw-w-full tw-p-0 md:tw-p-4">
    <h1
      class="text-white tw-text-2xl md:tw-text-2xl tw-font-bold md:tw-my-4 !tw-mb-8"
    >
      Trading Calculators
    </h1>
    <p
      class="tw-text-lg tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed"
    >
      Trading calculators are essential for improving forex traders' analytical
      skills and boosting their overall trading success, whether they are used
      for calculating margins, evaluating risk-reward ratios, or deciding
      position sizes.
    </p>
  </div>
  <div class="tw-w-full tw-p-0 md:tw-p-4">
    <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-3">
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Economic Calendar
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/economic_calendar.webp"
            alt="economic calender tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            An Economic Calendar tracks key financial events like interest
            rates, GDP, and employment data, helping traders anticipate market
            movements.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            routerLink="/resources/tools/economic-calendar"
            class="btn px-4 py-2 use-button"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Pip Calculator
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/pip-calculator.webp"
            alt="pip calculator tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            The Pip Monitor Tool tracks market expectations for Federal Reserve
            interest rate changes, helping traders anticipate monetary policy
            shifts.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 py-2 tw-mb-2 use-button"
            routerLink="/resources/tools/pip-calculator"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Currency Convertor
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/currency-exchange.webp"
            alt="currency exchange tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            A Currency Converter calculates exchange rates between currencies,
            assisting traders and travelers with real-time currency conversions.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            routerLink="/resources/tools/currency-converter"
            class="btn px-4 tw-mb-2 py-2 use-button"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Fibonacci Calculator
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/fibonacci-spiral.webp"
            alt="fibonacci spiral tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            A Fibonacci Calculator computes key retracement and extension
            levels, aiding traders in identifying potential support and
            resistance areas.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 py-2 tw-mb-2 use-button"
            routerLink="/resources/tools/fibonacci-calculator"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Currency Correlation
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/exchange-rate.webp"
            alt="currency exchange rate tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            Currency Correlation measures the relationship between currency
            pairs, helping traders assess diversification and manage risk
            effectively.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 py-2 tw-mb-2 use-button"
            routerLink="/resources/tools/currency-correlation"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Pivot Point Calculator
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/arrow.webp"
            alt="arrow webp tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            A Pivot Point Calculator determines key support and resistance
            levels, helping traders identify potential market turning points.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 py-2 tw-mb-2 use-button"
            routerLink="/resources/tools/pivot-point-calculator"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Margin Calculator
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/marginal.webp"
            alt="marginal tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            A Margin Calculator helps traders determine the margin required to
            open and maintain a trading position.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 py-2 tw-mb-2 use-button"
            routerLink="/resources/tools/margin-calculator"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Profit Calculator
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/profit-calculator.webp"
            alt="profit calculator tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            A Profit Calculator estimates potential profits or losses from
            trades, helping traders plan and evaluate strategies.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 tw-mb-2 py-2 use-button"
            routerLink="/resources/tools/profit-calculator"
          >
            Use This Tool
          </button>
        </div>
      </div>
      <!-- <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Currency Volatility
        </p>
        <div class="card-body">
          <img loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/volatility.webp"
            alt=""
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            Currency Volatility measures the price fluctuations of currency
            pairs, helping traders assess risk and potential market movement.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 py-2 tw-mb-2 use-button"
            routerLink="/resources/tools/currency-volatility"
          >
            Use This Tool
          </button>
        </div>
      </div> -->
      <div class="text-white card tw-py-3">
        <p
          class="card-header tw-mt-2 tw-font-montserrat tw-text-lg tw-font-extrabold tw-tracking-wider tw-text-center"
        >
          Currency Heat Map
        </p>
        <div class="card-body">
          <img
            loading="lazy"
            class="tools-img img-fluid"
            src="../../../../../assets/images/tools/bar-chart.webp"
            alt="currency bar chart tool"
          />
          <p
            class="card-header tw-mt-4 tw-font-montserrat tw-text-sm tw-tracking-wider tw-text-center"
          >
            A Currency Heat Map visually represents the strength of various
            currencies, helping traders quickly identify market trends and
            opportunities.
          </p>
        </div>
        <div class="d-flex justify-content-center card-footer">
          <button
            class="btn px-4 tw-mb-2 py-2 use-button"
            routerLink="/resources/tools/currency-heat-map"
          >
            Use This Tool
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
