<div class="container tw-font-montserrat">
  <div
    class="tw-flex align-items-center text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4"
  >
    <button
      class="tw-flex tw-items-center !tw-mr-2"
      routerLink="/resources/tools"
    >
      <ng-icon name="matArrowBack" size="20"></ng-icon>
    </button>
    <p
      class="mb-0 tw-text-lg tw-underline tw-cursor-pointer tw-text-themePrimary"
      routerLink="/resources/tools"
    >
      Tools
    </p>
    <p class="mb-0 tw-text-lg">&nbsp;/&nbsp;</p>
    <p class="mb-0 tw-text-lg">Pivot Point Calculator</p>
  </div>

  <div id="pivot-point-calculator-488524" class="tw-mt-8 tw-w-full"></div>
</div>
