<div class="container disclaimer-global-container">
  <div class="disclaimer-cards-grid">
    <div class="disclaimer-card">
      <div class="disclaimer-card-flag-corner">
        <img src="assets/images/flags/marutius.webp" alt="Mauritius Flag" />
      </div>
      <div class="disclaimer-card-content">
        <strong>Mauritius</strong>
        UP Global Markets Ltd – Licensed by the Financial Services Commission
        (FSC) Mauritius as an Investment Dealer (Full Service Dealer, Excluding
        Underwriting) under License No. GB25204570. <br />

        Address : 4th Floor, Docks 4, The Docks, Caudan, Port Louis, Mauritius
      </div>
    </div>



  <div class="disclaimer-cards-grid">
    <div class="disclaimer-card">
      <div class="disclaimer-card-flag-corner">
        <img src="assets/images/flags/Untitle.png" style="height: 82px !important;" alt="United Arab Emirates Flag" />
      </div>
      <div class="disclaimer-card-content">
        <strong>United Arab Emirates</strong>
       UPFOREX Financial Consultation LLC is licensed and regulated by the UAE Securities and Commodities Authority (SCA) under Category 5 – Arrangement & Advice, holding License No. 20200000350.<br />
      </div>
    </div>





    <!-- <div class="disclaimer-card">
      <div class="disclaimer-card-flag-corner">
        <img src="assets/images/flags/uae.webp" alt="UAE Flag" />
      </div>
      <div class="disclaimer-card-content">
        <strong>UAE</strong>
        Upforex Financial Consultation LLC – Registered and operating in the
        United Arab Emirates, holding a Pre-Approval for SCA Category 5 License.
      </div>
    </div> -->

  </div>
</div>

<div class="container text-white">
  <div class="row disclaimer tw-p-4 gap-1 !tw-pt-0">
    <div class="col-12 my-1">
      <h6 class="disclaimer-heading">Disclaimer:</h6>
      <div class="disclaimer-text tw-text-white-400">
        <b>Risk statement:</b> An investment in derivatives may mean investors
        may lose an amount even greater than their original investment. Anyone
        wishing to invest in any of the products mentioned in
        <a class="disclaimer-link" href="https://www.upforex.com/"
          >www.upforex.com</a
        >
        should seek their own financial or professional advice. Trading of
        securities, forex, stock market, commodities, may
        not be suitable for everyone and involves the risk of losing part or all
        of your money. Trading in the financial markets has large potential
        rewards, but also large potential risk. You must be aware of the risks
        and be willing to accept them in order to invest in the markets. Don't
        invest and trade with money which you can't afford to lose. Forex
        Trading are not allowed in some countries, before investing your money,
        make sure whether your country is allowing this or not.
      </div>
    </div>
    <div class="col-12 my-1 tw-text-white-400">
      You are strongly advised to obtain independent financial, legal and tax
      advice before proceeding with any currency or spot metals trade. Nothing
      in this site should be read or construed as constituting advice on the
      part of UP Global Markets Ltd or any of its affiliates, directors, officers or
      employees.
    </div>
    <div class="col-12 my-1 tw-text-white-400">
      <b>Restricted Regions:</b> UP Global Markets Ltd  does not
      provide services for citizens/residents of the United States, India, Cuba, Iraq,
      Myanmar, North Korea, Sudan, Russia, Iran. The services of UP Global Markets Ltd
      are not intended for distribution to, or use by, any person in any country
      or jurisdiction where such distribution or use would be contrary to local
      law or regulation.
    </div>
    <div class="col-12 my-1 tw-text-white-400">OR</div>
    <div class="col-12 my-1 mb-2 tw-text-white-400">
      <i
        >Information on this site is not directed at residents in any country or
        jurisdiction where such distribution or use would be contrary to local
        law or regulation.</i
      >
    </div>
  </div>
</div>
