<div
  class="m-0 banner-div tw-relative tw-w-full tw-h-screen tw-overflow-hidden"
>
  <img
    loading="lazy"
    class="tw-absolute tw-inset-0 tw-w-full tw-h-[85vh] md:tw-h-[95vh] lg:tw-h-[85vh] tw-object-cover tw-opacity-70"
    [ngClass]="{
      'tw-scale-x-[-1]':
        currentLanguage.code === 'ar' || currentLanguage.dir === 'rtl',
    }"
    [src]="s3URl + 'assets/images/JPG/home_banner_temp_1.webp'"
    alt="upforex home banner"
  />
  <div class="row m-0 p-0 tw-h-[80vh] lg:tw-h-[85vh]">
    <div class="col-12">
      <div
        class="tw-w-full md:tw-w-1/2 tw-px-0 md:tw-px-12 tw-h-full tw-flex tw-flex-col tw-justify-center"
      >
        <div
          class="my-2 !tw-font-bold banner-text w-100 tw-font-montserrat tw-px-4 md:tw-pr-20 lg:tw-text-5xl tw-text-4xl"
        >
          <h1>
            New Revolutionary <span class="banner-span">Smart Trading</span> for
            a Global Market Edge
          </h1>
        </div>
        <div class="my-2 tw-px-4 pt-2 banner-subtext tw-font-montserrat">
          Trade Forex, Stock CFDs, Precious Metal, Index CFDs, Energy CFDs and
          Crypto Currencies CFD from your Upforex Trading Account
        </div>
        <div
          class="my-2 md:tw-pt-4 tw-pl-4 tw-flex tw-justify-start tw-gap-4 banner-button"
        >
          <a
            class="tw-px-0 md:tw-pr-12 py-2 btn tw-block tw-font-montserrat"
            href="https://client.upforex.live/?tab=register"
            target="_blank"
          >
            {{ "HOME.TRY_FREE_DEMO" | hybridTranslate: "Try Free Demo" }}
          </a>
          <a
            class="tw-px-0 md:tw-pr-12 py-2 btn tw-block tw-font-montserrat"
            href="https://client.upforex.live/?tab=register"
            target="_blank"
          >
            {{ "HOME.OPEN_ACCOUNT" | hybridTranslate: "Open Account" }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md:tw-p-0 tw-p-8">
  <div
    class="tw-flex tw-justify-center tw-flex-col lg:tw-flex-row lg:tw-p-12 md:tw-p-6 tw-p-0 tw-gap-8 image-div"
  >
    <div class="tw-w-full lg:tw-w-1/2 tw-flex tw-justify-center">
      <img
        loading="lazy"
        [src]="s3URl + 'assets/images/banner_2.webp'"
        width="100%"
        class="tw-rounded-2xl"
        style="aspect-ratio: 2; object-fit: cover"
        alt="tracking forex currency"
      />
    </div>

    <div class="tw-w-full lg:tw-w-1/2 tw-p-0 md:tw-p-4">
      <h2
        class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-montserrat tw-font-bold md:tw-my-4 mb-4"
      >
        {{
          "HOME.WELCOME_TITLE"
            | hybridTranslate
              : "Welcome to UPFOREX – Your Premier Forex Trading Partner"
        }}
      </h2>
      <p
        class="tw-text-xl tw-text-white tw-font-bold tw-tracking-wide tw-leading-relaxed tw-font-montserrat !tw-mb-8"
      >
        {{
          "HOME.TRADE_TAGLINE"
            | hybridTranslate: "Trade Smarter. Earn Faster. Grow Globally."
        }}
      </p>
      <p
        class="tw-text-sm tw-text-white tw-font-montserrat tw-font-semibold tw-tracking-wide tw-leading-relaxed"
      >
        {{
          "HOME.DESCRIPTION"
            | hybridTranslate
              : "At UPFOREX, we provide next-generation forex trading solutions designed for retail traders, professional investors, and Introducing Brokers (IBs). With advanced technology, deep liquidity, and real-time withdrawals, we empower traders to maximize profits while ensuring security, transparency, and lightning-fast execution."
        }}
      </p>
      <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 tw-gap-4 tw-mt-8">
        <div class="card tw-p-4">
          <span class="icon">
            <i class="fa-xl fa-solid fa-calculator"></i
          ></span>
          <div class="text tw-font-montserrat">
            {{
              "HOME.TRADING_CALCULATORS"
                | hybridTranslate: "Trading Calculators"
            }}
          </div>
        </div>
        <div class="card tw-p-4">
          <span class="icon"> <i class="fa-xl fa-solid fa-chart-bar"></i></span>
          <div class="text tw-font-montserrat">
            {{ "HOME.MARKET_ANALYSIS" | hybridTranslate: "Market Analysis" }}
          </div>
        </div>
        <div class="card tw-p-4">
          <span class="icon">
            <i class="fa-xl fa-solid fa-magnifying-glass-chart"></i
          ></span>
          <div class="text tw-font-montserrat">
            {{ "HOME.MARKET_REVIEWS" | hybridTranslate: "Market Reviews" }}
          </div>
        </div>
        <div class="card tw-p-4">
          <span class="icon"> <i class="fa-xl fa-solid fa-school"></i></span>
          <div class="text tw-font-montserrat">Trading Academy</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="md:tw-p-0 tw-p-8">
  <div
    class="tw-flex tw-justify-center tw-flex-col lg:tw-flex-row lg:tw-p-12 md:tw-p-6 tw-p-0 tw-gap-8 image-div"
  >
    <div class="tw-w-full lg:tw-w-1/2 tw-p-0">
      <h2
        class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-montserrat tw-font-bold md:tw-my-4 !tw-mb-8"
      >
        Trade with Confidence – Exceptional Market Conditions for Every Trader
      </h2>
      <p
        class="tw-text-sm tw-text-white tw-font-montserrat tw-font-semibold tw-tracking-wide tw-leading-relaxed !tw-mb-8"
      >
        At UPFOREX, we provide ultra-competitive trading conditions tailored for
        traders of all levels. Access the best forex trading platform with tight
        spreads, deep liquidity, and lightning-fast execution to maximize your
        success.
      </p>
      <div class="my-3 d-flex flex-column gap-3">
        <div class="d-flex gap-2 justify-content-center tw-items-start">
          <span class="arrow tw-mt-2"
            ><i class="fa-xl fa-solid fa-circle-right"></i
          ></span>
          <h5 class="tw-text-white tw-font-montserrat tw-ml-2">
            <b class="bold-text">Best Market Prices & Low Spreads </b> Enjoy
            institutional-grade pricing for Forex, Stocks, Indices, and Crypto
            CFDs.
          </h5>
        </div>
        <div class="d-flex gap-2 justify-content-center tw-items-start">
          <span class="arrow tw-mt-2"
            ><i class="fa-xl fa-solid fa-circle-right"></i
          ></span>
          <h5 class="tw-text-white tw-font-montserrat tw-ml-2">
            <b class="bold-text">Negative balance protection: </b>Trade safely
            and securely knowing you’ll never lose more than your deposit.
          </h5>
        </div>
        <div class="d-flex gap-2 justify-content-center tw-items-start">
          <span class="arrow tw-mt-2"
            ><i class="fa-xl fa-solid fa-circle-right"></i
          ></span>
          <h5 class="tw-text-white tw-font-montserrat tw-ml-2">
            <b class="bold-text">Instant Deposits & Quick Withdrawals:</b>
            Experience real-time payouts with multiple payment methods,
            including Crypto, Bank Transfer, Neteller, and Skrill.
          </h5>
        </div>
      </div>
    </div>
    <div
      class="tw-w-full lg:tw-w-1/2 tw-flex tw-justify-center tw-items-center"
    >
      <img
        loading="lazy"
        [src]="s3URl + 'assets/images/JPG/market-experience.webp'"
        width="100%"
        class="tw-rounded-2xl"
        style="aspect-ratio: 2; object-fit: cover"
        alt="trading view chart on devices"
      />
    </div>
  </div>
</div>
<!-- <div id="ticker-tape-container"></div> -->

<!-- Smarter Trade -->
<div class="tw-pb-8 tw-px-8 smarter-trade-div">
  <div class="tw-text-center tw-mt-6 md:tw-mt-0 tw-p-6">
    <h2
      class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-montserrat tw-font-bold md:tw-my-4"
    >
      Trade Smarter Across Global Assets
    </h2>
    <p
      class="tw-text-sm tw-text-white tw-font-montserrat tw-font-semibold tw-tracking-wide tw-leading-relaxed"
    >
      Find your next trade with access to a wide range of markets.
    </p>
  </div>
  <div
    class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-8"
  >
    <div
      class="text-white card !tw-flex-col tw-p-6"
      *ngFor="let item of smarterTradeCardData"
    >
      <p
        class="!tw-text-start tw-font-montserrat tw-text-lg tw-font-extrabold md:!tw-h-[4rem] lg:!tw-h-[4rem] tw-tracking-wider tw-w-full !tw-mb-2"
      >
        {{ item.title }}
      </p>
      <div class="tw-border-b tw-border-white tw-w-full tw-my-3"></div>

      <p
        class="tw-text-sm tw-font-semibold md:!tw-h-[15rem] lg:!tw-h-[10rem] tw-text-white tw-font-montserrat tw-text-left tw-leading-relaxed tw-tracking-wider"
      >
        {{ item.description }}
      </p>
      <div class="tw-border-b tw-border-white tw-w-full tw-my-3"></div>
      <div class="tw-flex tw-justify-between tw-items-center tw-w-full">
        <div
          class="initial-bg tw-p-2 tw-px-3 tw-rounded-lg !tw-text-black !tw-font-semibold"
        >
          {{ item.initials }}
        </div>
        <button
          [routerLink]="item.routerLink"
          class="tw-font-montserrat tw-font-semibold"
        >
          Explore Now
          <i class="fa-solid fa-angles-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Smart Trading Features -->
<h2
  class="tw-text-2xl md:tw-text-3xl lg:tw-text-4xl tw-font-montserrat tw-font-bold tw-text-white tw-text-center tw-mt-16 tw-mb-8"
>
  Seamless Global Trading with Lightning-Fast ECN Connectivity
</h2>
<div
  class="tw-w-full container-fluid p-0 tw-overflow-hidden smarter-trade-features-div !tw-h-[280px] md:tw-h-[350px]"
>
  <video autoplay loop muted class="tw-w-full tw-object-contain">
    <source
      [src]="s3URl + 'assets/videos/smart_trading.webm'"
      type="video/webm"
    />
  </video>
</div>
<div
  class="w-z-10 tw-py-8 tw-px-4 md:tw-px-8 smarter-trade-features-div tw-mt-2 md:tw-mt-14"
>
  <div class="tw-text-center tw-mb-6">
    <h2
      class="tw-text-2xl md:tw-text-3xl lg:tw-text-4xl tw-font-montserrat tw-font-bold tw-text-white mb-4"
    >
      Smart Trading Features
    </h2>
    <p
      class="tw-text-sm md:tw-text-xl tw-text-white tw-font-light tw-font-montserrat tw-tracking-wide"
    >
      Find your next trade with access to a wide range of markets.
    </p>
  </div>

  <div
    class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-8"
  >
    <div
      class="card tw-bg-white/90 tw-backdrop-blur-md tw-rounded-md tw-p-2 flip-vertical-fwd"
      *ngFor="let item of smartTradeFeaturesData"
    >
      <div
        [style]="{ 'background-color': item.bgColor }"
        class="tw-p-4 tw-flex tw-mt-4 tw-justify-start tw-items-center tw-rounded-full"
      >
        <ng-icon [name]="item.icon" color="black" size="24"></ng-icon>
      </div>
      <div
        class="text tw-text-center tw-text-lg tw-font-semibold tw-font-montserrat tw-my-6"
      >
        {{ item.title }}
      </div>
    </div>
  </div>
</div>

<!-- Mobile App -->
<div class="md:tw-p-0 tw-p-8">
  <div
    class="tw-flex tw-justify-center tw-flex-col lg:tw-flex-row lg:tw-py-12 md:tw-py-6 tw-p-0 tw-gap-8"
  >
    <div class="tw-w-full lg:tw-w-1/2 tw-p-0 md:tw-px-12">
      <h2
        class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-montserrat tw-font-bold md:tw-my-4 !tw-mb-8"
      >
        Trade Anytime, Anywhere with MetaTrader 5 (MT5) – Mobile, Desktop & Web
      </h2>
      <p
        class="tw-text-sm tw-text-white tw-font-montserrat tw-font-semibold tw-tracking-wide tw-leading-relaxed !tw-mb-8"
      >
        Experience next-generation trading with MetaTrader 5 (MT5) – the
        ultimate multi-asset trading platform designed for Forex, Stocks,
        Indices, Commodities, and Cryptos. Whether you're at home, in the
        office, or on the move, MT5 is available across Mobile, Desktop, and
        Web, ensuring you never miss a trading opportunity.
      </p>
      <div class="my-3 d-flex flex-column gap-3">
        <div
          class="d-flex gap-2 justify-content-center tw-items-start"
          *ngFor="let item of mobileAppData"
        >
          <span class="arrow tw-mt-2"
            ><i class="fa-xl fa-solid fa-circle-right"></i
          ></span>
          <h5 class="tw-text-white tw-font-montserrat tw-ml-2">
            <b class="bold-text"> {{ item.boldText }} :</b>
            {{ item.subText }}
          </h5>
        </div>
      </div>
      <p
        class="tw-text-sm tw-text-white tw-font-montserrat tw-font-semibold tw-tracking-wide tw-leading-relaxed"
      >
        Whether you're a beginner or a seasoned trader, the MT5 Mobile App
        ensures you never miss a trading opportunity. Download now and trade
        smarter, faster, and better!
      </p>
      <div class="tw-flex tw-items-center">
        <a
          href="https://download.mql5.com/cdn/mobile/mt5/ios?server=UpGlobalMarkets-Trade"
          target="_blank"
        >
          <img
            loading="lazy"
            [src]="s3URl + 'assets/images/PNG/app-store.webp'"
            height="100"
            width="100"
            class="tw-cursor-pointer"
            alt="upforex ios app store"
          />
        </a>
        <a
          href="https://download.mql5.com/cdn/mobile/mt5/android?server=UpGlobalMarkets-Trade"
          target="_blank"
        >
          <img
            loading="lazy"
            [src]="s3URl + 'assets/images/PNG/play-store.webp'"
            height="130"
            width="130"
            class="tw-cursor-pointer"
            alt="upforex playstore app"
          />
        </a>
        <img
          loading="lazy"
          [src]="s3URl + 'assets/images/mt5/logo.webp'"
          height="60"
          width="60"
          class="tw-cursor-pointer"
          alt="upforex mt5 logo"
        />
      </div>
    </div>
    <div
      class="tw-w-full lg:tw-w-1/2 tw-flex tw-justify-center tw-items-center"
    >
      <ngb-carousel
        #carousel
        [showNavigationArrows]="false"
        [wrap]="true"
        [keyboard]="true"
        [interval]="3000"
      >
        <ng-template ngbSlide *ngFor="let item of images; let i = index">
          <div class="carousel-img-wrapper">
            <img
              loading="lazy"
              appSwipe
              (leftSwipe)="carousel.next()"
              (rightSwipe)="carousel.prev()"
              [src]="s3URl + item"
              [alt]="
                i === 0
                  ? 'Trade on the Premier MT5 Platform'
                  : i === 1
                    ? 'trade view'
                    : i === 2
                      ? 'upforex live market'
                      : i === 3
                        ? 'analyzing chart'
                        : i === 4
                          ? 'mobile trading view'
                          : i === 6
                            ? 'live trading viewchart'
                            : 'upforex trade vision'
              "
            />
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- <video
        src="../../../assets/videos/mobile-app.mp4"
        autoplay
        loop
        muted
        class="tw-rounded-2xl tw-h-auto md:tw-h-80 lg:tw-h-auto"
      ></video> -->
    </div>
  </div>
</div>
<!-- Join Us -->
<div class="video-container tw-h-60 md:tw-h-64 lg:tw-h-72 tw-w-full">
  <img
    loading="lazy"
    class="background-video"
    [src]="s3URl + 'assets/images/unlock_access.webp'"
    alt="Join Us"
  />
  <div class="content">
    <p
      class="tw-text-white tw-font-semibold tw-text-lg md:tw-text-2xl tw-font-montserrat"
    >
      Unlock Access to Global Markets
    </p>
    <p
      class="tw-text-white tw-font-semibold tw-text-sm md:tw-text-base tw-tracking-wider tw-font-montserrat"
    >
      Discover the Power of Global Trading from Single Account
      <a
        (click)="scrollToTop()"
        class="tw-text-[#3cff19] text-decoration-none tw-cursor-pointer tw-font-extrabold"
        href="https://client.upforex.live/?tab=register"
        target="_blank"
        >Open Your Account</a
      >
    </p>
    <div class="tw-flex tw-items-center tw-justify-center">
      <a
        href="https://download.mql5.com/cdn/mobile/mt5/ios?server=UpGlobalMarkets-Trade"
        target="_blank"
      >
        <img
          loading="lazy"
          [src]="s3URl + 'assets/images/PNG/app-store.webp'"
          height="100"
          width="100"
          class="tw-cursor-pointer"
          alt="upforex ios app store"
        />
      </a>
      <a
        href="https://download.mql5.com/cdn/mobile/mt5/android?server=UpGlobalMarkets-Trade"
        target="_blank"
      >
        <img
          loading="lazy"
          [src]="s3URl + 'assets/images/PNG/play-store.webp'"
          height="130"
          width="130"
          class="tw-cursor-pointer"
          alt="upforex playstore app"
        />
      </a>
    </div>
  </div>
</div>
