<div class="container tw-font-montserrat">
  <div
    class="tw-flex align-items-center text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4"
  >
    <button
      class="tw-flex tw-items-center !tw-mr-2"
      routerLink="/resources/tools"
    >
      <ng-icon name="matArrowBack" size="20"></ng-icon>
    </button>
    <p
      class="mb-0 tw-text-lg tw-underline tw-cursor-pointer tw-text-themePrimary"
      routerLink="/resources/tools"
    >
      Tools
    </p>
    <p class="mb-0 tw-text-lg">&nbsp;/&nbsp;</p>
    <p class="mb-0 tw-text-lg">Currency Correlation</p>
  </div>

  <div class="tw-h-[70vh]">
    <iframe
      src="https://widgets.myfxbook.com/widgets/market-correlation.html?rowSymbols=8,47,9,10,1234,11,103,12,46,1245,6,13,14,15,17,18,7,2114,19,20,21,22,1246,23,1,1233,107,24,25,4,2872,137,48,1236,1247,2012,2,1863,3240,26,49,27,28,2090,131,5,29,5779,31,34,3,36,37,38,2076,40,41,42,43,45,3005,3473,50,2115,2603,2119,1815,2521,51,5435,5079,1893&colSymbols=8,9,10,6,7,1,4,2,5,3&timeScale=1440"
      width="100%"
      height="100%"
      frameborder="0"
      class="tw-overflow-auto"
    ></iframe>
  </div>
  <div style="font-size: 10px">
    <a
      href="https://www.myfxbook.com"
      title="Myfxbook"
      class="myfxbookLink"
      target="_self"
      rel="noopener"
      >Powered by Myfxbook.com</a
    >
  </div>
</div>
