<div class="container tw-font-montserrat">
  <!-- Forex Trading -->
  <div class="md:tw-p-0 tw-p-8 tw-mb-12">
    <div class="tw-flex tw-justify-center tw-flex-col lg:tw-flex-row lg:tw-p-12 md:tw-p-6 tw-p-0 tw-gap-8">
      <div class="tw-w-full lg:tw-w-1/2 tw-flex tw-justify-start">
        <img loading="lazy" [src]="s3URL + 'assets/images/forex_2.webp'" height="600" width="600"
          class="tw-rounded-2xl" />
      </div>

      <div class="tw-w-full lg:tw-w-1/2 tw-p-0 md:tw-p-4">
        <h1 class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
          Your Premier Destination for Online Trading Brokers Platform - UPFOREX
        </h1>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
          Welcome to UPFOREX, your premier gateway to the dynamic world of foreign exchange. As one of the leading
          Online Trading Brokers, we provide a superior environment for forex trading, combining cutting-edge technology
          with unparalleled market access. Whether you are taking your first steps or are a seasoned professional, our
          platform is engineered to meet your demands for transparency, and reliability.
        </p>
      </div>
    </div>
  </div>

  <!-- Advantages -->
  <div class="tw-pb-8 tw-px-8">
    <div class="tw-w-full tw-p-0 md:tw-p-4">
      <p class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
        Why Choose Forex Trading?
      </p>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        The Forex market is the largest and most liquid financial market globally, operating 24 hours a day, five days a
        week. It offers immense opportunities for traders to speculate on the fluctuation of global currency pairs.
        Engaging in <a href="https://www.upforex.com/">forex trading</a> allows you to tap into this volatility from a
        strategic financial hub, with the
        potential to profit from both rising and falling markets.
      </p>
    </div>
  </div>

  <!-- Benefits of forex trading -->
  <div class="md:tw-p-0 tw-p-8">
    <div class="tw-flex tw-justify-center tw-flex-col lg:tw-flex-row lg:tw-p-4 lg:tw-pr-12 tw-p-0 tw-gap-8">
      <div class="tw-w-full lg:tw-w-1/2 tw-p-0 md:tw-px-12">
        <p class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
          Unmatched Advantages with Our Online Trading Brokers Platform
        </p>
        <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed !tw-mb-8">
          When you partner with UPFOREX, you gain more than just a trading account; you gain a competitive edge. Our
          commitment to excellence is reflected in every aspect of our service.
        </p>
        <div *ngFor="let item of benefits" class="md:tw-mx-2">
          <div
            class="d-flex tw-items-center tw-mb-4 lg:tw-ml-4 hover:tw-translate-x-2 tw-transition-all tw-duration-300">
            <i class="tw-text-lg tw-mt-0.5 fa-solid fa-circle-check tw-text-themePrimary"></i>
            <h5 class="tw-text-gray-200 tw-ml-4 tw-text-base lg:tw-text-xl !tw-mb-0">
              <b class="tw-text-themePrimary">{{ item.boldText }}
                <span *ngIf="item.subText"> : </span>
              </b>
              <span>
                {{ item.subText }}
              </span>
            </h5>
          </div>
        </div>
      </div>
      <div class="tw-w-full lg:tw-w-1/2 tw-flex tw-justify-end tw-items-start">
        <img loading="lazy" [src]="s3URL + 'assets/images/JPG/forex_1_temp.webp'" height="500" width="500"
          class="tw-rounded-2xl" />
      </div>
    </div>
  </div>

  <!-- Advantages -->
  <div class="tw-pb-8 tw-px-8">
    <div class="tw-w-full tw-p-0 md:tw-p-4">
      <h2 class="text-white tw-text-2xl md:tw-text-2xl lg:tw-text-4xl tw-font-bold md:tw-my-4 !tw-mb-8">
        The UPFOREX Difference: Advanced Forex Trading Made Accessible
      </h2>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        What truly sets us apart as top-tier <a href="https://www.upforex.com/products/forex-cfds">Online
          Trading Brokers</a> is our unwavering focus on providing a transparent
        and efficient trading ecosystem. Our platforms operate on an ECN/STP model, granting you Direct Market Access
        (DMA). This means your trades are executed directly with liquidity providers, eliminating dealing desk
        intervention and ensuring you trade with significant liquidity and market depth.
      </p>
    </div>
    <div class="tw-w-full tw-p-0 md:tw-p-4">
      <h3 class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        A Platform for Every Trader
      </h3>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        We believe that the forex trading platform Global residents can access is one that adapts to their lifestyle.
        That’s why we offer robust, user-friendly trading on both desktop and mobile devices. Our platforms support the
        use of Expert Advisors (EAs) for automated trading strategies and offer micro-lot trading for precise risk
        management, making <a href="https://www.upforex.com/products/forex-cfds">advanced forex trading</a> accessible to all.
        Furthermore, as a regulated forex broker, we prioritize the security of your funds and data. This commitment to
        trust and safety is complemented by features like zero commissions on many trades, access to other asset classes
        like US stocks, and a free VPS service for traders who require uninterrupted, high-speed operation.

      </p>
    </div>
    <div class="tw-w-full tw-p-0 md:tw-p-4">
      <h3 class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Experience a Seamless Trading Journey
      </h3>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        From the moment you open an account, you’ll notice the UPFOREX difference. Our streamlined processes ensure a
        quick and easy setup. Once you’re in, you can focus on your trading strategy with the confidence that comes from
        using a platform built for performance. And when it’s time to access your funds, our status as an instant
        withdrawal forex broker means you won’t face unnecessary delays
      </p>
    </div>
    <div class="tw-w-full tw-p-0 md:tw-p-4">
      <h3 class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Your Path to the Markets Starts Here
      </h3>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        The world of forex is waiting. With UPFOREX, you have a partner that provides the tools, conditions, and support
        necessary to navigate the markets confidently. We combine the benefits of <a href="https://www.upforex.com/products/forex-cfds">high leverage forex brokers</a> with the
        security and professionalism of regulated forex brokers, creating an optimal environment for your advanced forex
        trading pursuits.
      </p>
    </div>
  </div>

  <!-- FAQ -->
  <div class="tw-pb-8 tw-px-8">
    <div class="tw-w-full tw-p-0 md:tw-p-4">

      <p class="text-white tw-font-bold md:tw-my-4" style="font-size:2.5rem;">
        Frequently Asked Questions:
      </p>
      <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Q: 1. What is Forex Trading?
      </p>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        Forex (foreign exchange) trading is the act of buying and selling global currencies with the aim of profiting
        from fluctuations in their exchange rates. It is the largest and most liquid financial market in the world,
        operating 24 hours a day, five days a week.
      </p>

      <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Q: 2. Can I Trade on My Mobile Phone with UPFOREX?
      </p>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        Absolutely. UPFOREX provides robust and user-friendly trading platforms that are fully optimized for both
        desktop (PC/Mac) and mobile devices (iOS/Android), allowing you to trade anywhere, anytime.
      </p>

      <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Q: 3. How do I Withdraw my Profits?
      </p>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        As an instant withdrawal forex broker, UPFOREX processes withdrawal requests quickly and efficiently. The
        process is streamlined through our secure client portal, ensuring you get access to your funds without
        unnecessary delays.
      </p>

      <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Q: 4. Is UPFOREX a Regulated Broker?
      </p>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        Yes, operating as a regulated forex broker is a cornerstone of our service. We adhere to strict financial
        standards and regulations, which ensure client fund security, operational transparency, and fair trading
        practices.
      </p>

      <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Q: 5. How does UPFOREX Ensure the Safety of my Funds?
      </p>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        Client funds are held in segregated accounts at top-tier banks, completely separate from the company's
        operational funds. This ensures that your capital is protected and is only used for your trading activities.
      </p>

      <p class="text-white tw-font-bold md:tw-my-4" style="font-size:1.5rem;">
        Q: 6. As a Trusted Forex Broker, what Educational Resources do you Provide?
      </p>
      <p class="tw-text-sm tw-text-white tw-font-semibold tw-tracking-wide tw-leading-relaxed">
        We empower our traders with comprehensive educational resources, including webinars, tutorials, market analysis,
        and articles, catering to both beginners learning the basics and advanced traders refining their strategies.
      </p>

    </div>
  </div>

</div>